<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <%-  (locals.usuario == undefined  || locals.usuario.rol == "comun") ? null : '<link rel="stylesheet" href="/css/panel.css">' %>
    <title>Pagina no encontrada</title>
    <style>
        main {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 70px 0 100px 0;
            font-family: montserrat;
        }

        .normal {
            width: 100%;
        }
        .exist-panel {
            width: 82%;
        }

        .error404 {
            margin: 0;
            color: #abb444;
            font-size: 188px;
        }
        
        .error-msg {
            margin: 20px 0;
            font-weight: 600;
        }

        .volver {
            text-decoration: none;
            padding: 10px 15px;
            background: #61b0b2;
            color: white;
            border-radius: 5px;
        }

        .volver:hover {
            background: #4a8687;
        }

    </style>

</head>
<body>
    <% if (locals.usuario == undefined  || locals.usuario.rol == "comun") {%>
        <%- include("./partials/nav") %>
    <% } else { %>
        <%- include("./controlPanel/panel") %>
    <% } %>

    <main class="<%=  (locals.usuario == undefined  || locals.usuario.rol == 'comun') ? 'normal' : 'exist-panel' %>">
        <h1 class="error404">404</h1>
        <p class="error-msg">Pagina no encontrada</p>
        <a class="volver" href="/">Volver al inicio</a>
    </main>

    <% if (locals.usuario == undefined  || locals.usuario.rol == "comun") {%>
        <%- include("./partials/footer") %>
    <% } %>

</body>
</html>