<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/home.css">
    <title>HopeTrade</title>
</head>
<body style="font-family: Verdana, Geneva, Tahoma, sans-serif;">
    <%- include("./partials/nav") %>

    <main>
        <h1>hola rey</h1>
        <% if (locals.usuario) { %>
                <p><%= usuario.nombre  %></p>
                <p><%= usuario.apellido  %></p>
                <p><%= usuario.dni  %></p>
                <p><%= console.log(usuario)  %></p>
                <p><%= usuario.mail  %></p>
                <p><%= usuario.telefono  %></p>
                <p><%= usuario.rol  %></p>
            <% } else { %>
                <p>no hay nadie</p>
            <% } %>
    </main>
    
    <%- include("./partials/footer") %>
</body>
</html>