<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/forms.css">
    <title>Cambiar contraseña</title>
</head>
<body>
    <main>
        <div class="container">

            <div class="container-form">

                <div style="margin-bottom: 20px;">
                    <%if (locals.isEmployee){%>
                    <a href="/controlPanel" style="text-decoration: none; color: black;">volver</a>    

                    <%}else{%>
                    <a href="/profile" style="text-decoration: none; color: black;">volver</a>
                    <%}%>
                </div>
                <h1>Actualizar contraseña</h1>

                
                <form action="/profile/changePassword"  method="POST">
                    
                        <div class="campo">
                            <label for="nombre">Nueva contraseña</label>
                            <input type="password" id="new_psw" name="new_psw" placeholder="*******" value="<%= locals.oldData ? oldData.new_psw : null %>" >
                            <% if (locals.errors && errors.new_psw) { %>
                                <p class="error-text"><%= errors.new_psw.msg %></p>
                            <% } %>
                        </div>

                        <div class="campo">
                            <label for="nombre">Confirmar contraseña</label>
                            <input type="password" id="confirm_psw" name="confirm_psw" placeholder="*******" value="<%= locals.oldData ? oldData.confirm_psw : null %>" >
                            <% if (locals.errors && errors.confirm_psw) { %>
                                <p class="error-text"><%= errors.confirm_psw.msg %></p>
                            <% } %>
                        </div>
    
                        <div class="campo">
                            <label for="nombre">Contraseña Actual</label>
                            <input type="password" id="old_psw" name="old_psw" placeholder="***********" value="<%= locals.oldData ? oldData.old_psw : null %>" >
                            <% if (locals.errors && errors.old_psw) { %>
                                <p class="error-text"><%= errors.old_psw.msg %></p>
                            <% } %>
                        </div>
    

    
                    <div class="btn-container">
                        <button class="btn cancelar" onclick="borrar()" type="button">Cancelar</button>
                        <button class="btn enviar" type="submit">Aceptar</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
<script>
    function borrar() {
        document.getElementById("nombre").value = "";
        document.getElementById("descripcion").value = "";
    }
</script>
</html>