<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/panel.css">
    <link rel="stylesheet" href="/css/exchanges.css">
    <title>Intercambios Pendientes</title>
</head>
<body>
    <%- include('./controlPanel/panel') %>
    <div class="exchanges-container">
        <div class="title-filter">
            <h1 class="exchange-title">Intercambios pendientes</h1>
            <div class="filter" >
                <p>Filtrar por fecha: </p>
                <input onChange="prueba()" type="date" id="myDate" <%- fecha ? `value="${fecha}"` : null %>>
            </div>
        </div>
        <main class="exchanges" >

            <% if (intercambios.length > 0) { %>
               
                <% intercambios.forEach(intercambio => { %>
                    <div class="card-exchange">

                        <div class="exchange-images">
    
                            <div class="images-names">
                                    <img class="images" src="/publicaciones/<%=intercambio.Publicacion.url_foto %>" alt="">
                                    <p class="name-post">Publicacion</p>
                                </a>
                            </div>
                            
                            <div class="flecha-intercambio">
                                <i class="fa-solid fa-arrow-right-arrow-left"></i>
                            </div>

                            <div class="images-names">
                                <img class="images" src="/ofertas/<%=intercambio.Oferta.dataValues.url_foto %>" alt="">
                                <p class="name-post">Oferta</p>
                            </div>

                        </div>
                        <div class="info-container">
                            <p class="usuario1"><strong>Usuario 1:</strong> <%=intercambio.Publicacion.Usuario.nombre %></p>
                            <p class="usuario2"><strong>Usuario 2:</strong> <%=  intercambio.Publicacion.usuario_id == intercambio.Oferta.dataValues.usuario_id ?  intercambio.Oferta.ofertaPadre.Usuario.nombre : intercambio.Oferta.Usuario.nombre %></p>
                            <p class="fecha"><strong>Fecha:</strong> <%=intercambio.Oferta.dataValues.fecha.split("-").reverse().join("-") %></p>
                            <p class="hora"><strong>Horario:</strong> <%=intercambio.Oferta.dataValues.hora.slice(0,-3) %></p>
                        </div>
                        <div class="btn-container">
                            <form action="/acceptExchange/<%=intercambio.id %>" method="post"> <button class="btn-form aceptar" type="submit">Confirmar</button></form>
                            <form action="/rejectExchange/<%=intercambio.id %>" method="post"> <button class="btn-form rechazar" type="submit">Cancelar</button></form>
                        </div>
                    </div>
                <% }) %>

            <% } else { %>
                <p style="color: grey;"> todavia no tenes intercambios</p>
            <% } %>

        </main>
    </div>

</body>
<script src="/js/checkrouteEmployee.js"></script>
<script>
    const prueba = () => { 
        const inputFecha = document.getElementById("myDate");
        const fechaSeleccionada = inputFecha.value;
        const urlArray = window.location.pathname.split("/");
        let urlTarget = "/controlPanel/exchanges";
        
        if (fechaSeleccionada === "") window.location.href = urlTarget;
        else window.location.href = `${urlTarget}/${fechaSeleccionada}`
    }
</script>
</html>