<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/formsRepresentante.css">
    <link rel="stylesheet" href="/css/panel.css">
    <title>Registrar Donacion de Articulo</title>
</head>
<body>

    <%- include("./controlPanel/panel") %>
    <main>
        <div class="container">

            <div class="container-form">
                <h1>Ingrese los datos de la Donacion del Articulo</h1>
                
                <% if (locals.operacion) { %>
                    <p class="correct-text" style="text-align: center; margin-bottom: 25px;">Donacion Registrada</p>
                <% } %>

                <% if (locals.msgError) { %>
                    <p class="error-text" style="text-align: center; margin-bottom: 25px;"><%= msgError %></p>
                <% } %>

                
                <form action="/controlPanel/registerArticleDonation"  method="POST">
                    
                    <div class="container-campo">
                        <div class="campo">
                            <label for="nombre">Nombre</label>
                            <input type="text" id="nombre" name="nombre" placeholder="Martin" value="<%= locals.oldData ? oldData.nombre : null %>" >
                            <% if (locals.errors && errors.nombre) { %>
                                <p class="error-text"><%= errors.nombre.msg %></p>
                            <% } %>

                        </div>
                        <div class="campo">
                            <label for="apellido">Apellido</label>
                            <input type="text" id="apellido" name="apellido" placeholder="Di Salvo"  value="<%= locals.oldData ? oldData.apellido : null %>">
                            <% if (locals.errors && errors.apellido) { %>
                                <p class="error-text"><%= errors.apellido.msg %></p>
                            <% } %>
                        </div>


                    </div>       
                    <div class="container-campo">
                        <div class="campo">
                            <label for="telefono">Telefono</label>
                            <input type="text" id="telefono" name="telefono" placeholder="2215755706" value="<%= locals.oldData ? oldData.mail : null %>" >
                            <% if (locals.errors && errors.telefono ) { %>
                                <p class="error-text"><%= errors.telefono.msg %></p>
                            <% } %>    
                        </div>
                        <div class="campo">
                            <label for="dni">DNI</label>
                            <input type="text" id="dni" name="dni" placeholder="45499975" value="<%= locals.oldData ? oldData.dni : null %>" >
                            <% if (locals.errors && errors.dni ) { %>
                                <p class="error-text"><%= errors.dni.msg %></p>
                            <% } %>    
                        </div>
                    </div>
                    <div class="campo">
                        <label for="titulo">Titulo del Articulo</label>
                        <input type="text" id="titulo" name="titulo" value="<%= locals.oldData ? oldData.titulo : null %>" >
                        <% if (locals.errors && errors.titulo ) { %>
                            <p class="error-text"><%= errors.titulo.msg %></p>
                        <% } %>    
                    </div>                           
    
                    <div class="btn-container">
                        <a class="btn cancelar" href="/controlPanel">Cancelar</a>
                        <button class="btn enviar" type="submit">Aceptar</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
<script src="/js/checkrouteEmployee.js"></script>
</html>