<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/formsRepresentante.css">
    <link rel="stylesheet" href="/css/panel.css">
    <title>Registrar Representante</title>
</head>
<body>

    <%- include("./controlPanel/panel") %>
    <main>
        <div class="container">

            <div class="container-form">
                <h1>Por favor ingrese los datos para registrar un Representante</h1>
                
                <% if (locals.operacion) { %>
                    <p class="correct-text" style="text-align: center; margin-bottom: 25px;">Representante agregado correctamente</p>
                <% } %>

                <% if (locals.msgError) { %>
                    <p class="error-text" style="text-align: center; margin-bottom: 25px;"><%= msgError %></p>
                <% } %>

                
                <form action="/controlPanel/registerRepresentante"  method="POST">
                    
                    <div class="container-campo">
                        <div class="campo">
                            <label for="nombre">Nombre</label>
                            <input type="text" id="nombre" name="nombre" placeholder="Martin" value="<%= locals.oldData ? oldData.nombre : null %>" >
                            <% if (locals.errors && errors.nombre) { %>
                                <p class="error-text"><%= errors.nombre.msg %></p>
                            <% } %>

                        </div>
                        <div class="campo">
                            <label for="apellido">Apellido</label>
                            <input type="text" id="apellido" name="apellido" placeholder="Di Salvo"  value="<%= locals.oldData ? oldData.apellido : null %>">
                            <% if (locals.errors && errors.apellido) { %>
                                <p class="error-text"><%= errors.apellido.msg %></p>
                            <% } %>
                        </div>


                    </div>                    
                    <div class="campo">
                        <label for="mail">Correo</label>
                        <input type="text" id="mail" name="mail" placeholder="ejemplo@gmail.com" value="<%= locals.oldData ? oldData.mail : null %>" >
                        <% if (locals.errors && errors.mail ) { %>
                            <p class="error-text"><%= errors.mail.msg %></p>
                        <% } %>    
                    </div>
                    
    
                    <div class="btn-container">
                        <a class="btn cancelar" href="/controlPanel">Cancelar</a>
                        <button class="btn enviar" type="submit">Aceptar</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
<script src="/js/checkrouteEmployee.js"></script>
</html>