<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/myExchanges.css">
    <title>Mis Intercambios</title>
</head>
<body>
    <%- include("./partials/nav") %>
    <main>
        <div class="container">
                <div class="title-on-page">
                    <h1> Mis Intercambios</p>
                </div>

                <div class="container-exchange">
                    <% if (intercambios.length > 0) { %>
                        <% intercambios.reverse().forEach(intercambio => { %>
                            <div class="card-exchange">

                                <div class="exchange-images">
            
                                    <div class="images-names">
                                            <img class="images" src="/publicaciones/<%=intercambio.Publicacion.url_foto %>" alt="">
                                            <p class="name-post">Publicacion</p>
                                        </a>
                                    </div>
                                    
                                    <div class="flecha-intercambio">
                                        <i class="fa-solid fa-arrow-right-arrow-left"></i>
                                    </div>
        
                                    <div class="images-names">
                                        <img class="images" src="/ofertas/<%=intercambio.Oferta.dataValues.url_foto %>" alt="">
                                        <p class="name-post">Oferta</p>
                                    </div>
        
                                </div>
                                <div class="info-container">
                                    <p class="usuario1"><strong>Usuario 1:</strong> <%=intercambio.Publicacion.Usuario.nombre %></p>
                                    <p class="usuario2"><strong>Usuario 2:</strong> <%=  intercambio.Publicacion.usuario_id == intercambio.Oferta.dataValues.usuario_id ?  intercambio.Oferta.ofertaPadre.Usuario.nombre : intercambio.Oferta.Usuario.nombre %></p>
                                    <p class="Filial"><strong>Filial: </strong><%= intercambio.Oferta.Filial.nombre %> (<%= intercambio.Oferta.Filial.direccion %>)</p>
                                    <p class="fecha"><strong>Fecha:</strong> <%=intercambio.Oferta.dataValues.fecha.split("-").reverse().join("-") %></p>
                                    <p class="hora"><strong>Horario:</strong> <%=intercambio.Oferta.dataValues.hora.slice(0,-3) %></p>
                                    <p class="hora">Estado: <strong><%=intercambio.estado %></strong></p>
                                    
                                </div>
                            </div>
                        <% }) %>
                    <% } else { %>
                        <p style="color: grey;">Todavia no tiene intercambios</p>
                    <% } %>
                </div>
                
        </div>
    </main>
    <%- include("./partials/footer") %>
</body>
</html>