<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/forms.css">
    <title>Donar</title>
</head>
<body>
    <%- include("./partials/nav") %>
    <main>
        <div class="container">

            <div class="container-form">

                <form action="/cardDonate"  method="POST">
                    
                    <h1>Formulario para donar con tarjeta</h1>
                
                    <% if (locals.msgOk) { %>
                        <p class="correct-text" style="text-align: center; margin-bottom: 25px;"><%= msgOk %></p>
                    <% } %>
    
                    <% if (locals.msgError) { %>
                        <p class="error-text" style="text-align: center; margin-bottom: 25px;"><%= msgError %></p>
                    <% } %>

                    <div class="campo">
                        <label for="nro_tarjeta">Numero de tarjeta</label>
                        <input type="number" id="nro_tarjeta" name="nro_tarjeta" onKeyPress="if(this.value.length==16) return false;" placeholder="42123890123456" value="<%= locals.oldData ? oldData.nro_tarjeta : null %>" >
                        <% if (locals.errors && errors.nro_tarjeta) { %>
                            <p class="error-text"><%= errors.nro_tarjeta.msg %></p>
                        <% } %>

                    </div>

                    <div class="campo">
                        <label for="nombre">Nombre y apellido del titular</label>
                        <input type="text" id="nombre" name="nombre" placeholder="Nicolas Tagliafico" value="<%= locals.oldData ? oldData.nombre : null %>" >
                        <% if (locals.errors && errors.nombre) { %>
                            <p class="error-text"><%= errors.nombre.msg %></p>
                        <% } %>

                    </div>
                    
                    <div class="container-campo">
                        <div class="campo">
                            <label for="codigo">Codigo de Seguridad</label>
                            <input type="number" id="codigo" name="codigo" onKeyPress="if(this.value.length==3) return false;" placeholder="985" value="<%= locals.oldData ? oldData.codigo : null %>" >
                            <% if (locals.errors && errors.codigo) { %>
                                <p class="error-text"><%= errors.codigo.msg %></p>
                            <% } %>
    
                        </div>

                        <div class="campo">
                            <label for="fecha">Vencimiento</label>
                            <input type="text" id="fecha" name="fecha" maxlength="5" placeholder="03/28" value="<%= locals.oldData ? oldData.fecha : null %>">
                            <% if (locals.errors && errors.fecha ) { %>
                                <p class="error-text"><%= errors.fecha.msg %></p>
                            <% } %>
                        </div>
                    </div>

                    <div class="campo">
                        <label for="monto">Monto a donar</label>
                        <input type="number" id="monto" name="monto" placeholder="17860" value="<%= locals.oldData ? oldData.monto : null %>" >
                        <% if (locals.errors && errors.monto) { %>
                            <p class="error-text"><%= errors.monto.msg %></p>
                        <% } %>

                    </div>
                   

                    <div class="btn-container">
                        <a class="btn cancelar" href="/donate">Cancelar</a>
                        <button class="btn enviar" type="submit">Donar</button>
                    </div>
                </form>
            </div>
        </div>


    </main>
</body>
<script src="/js/checkroute.js"></script>
</html>