<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/postDetail.css">
    <title><%= publicacion.nombre  %></title>
</head>
<body>
    <%- include("./partials/nav") %>

    <div  class="container-detail-comments">
        <div>
            <a id="volver" href="<%= referer %>" style="text-decoration: none; margin-bottom: 20px; margin-top: -35px; color: black; display: block; width: 50px;">volver</a>

        </div>
        <main class="container-detail">
            <div class="detail-image">
                <img src="/publicaciones/<%=publicacion.url_foto %>" alt="Imagen del producto <%=publicacion.nombre %>" class="product-image">
            </div>
            <div class="detail-info-action">
                <div class="info">
                    <p class="categoria">Categoria: <%=publicacion.Categoria.nombre %></p>
                    <h1 class="nombre"><%=publicacion.nombre %></h1>
                    <p class="usuario">Autor: <%=publicacion.Usuario.nombre %> <%=publicacion.Usuario.apellido %></p>    
                </div>

                <%if (publicacion.usuario_id != locals.usuario.id) { %>
                <div class="action">
                        <a href="/offers/<%=publicacion.id %>" class="offer-button">Realizar Oferta</a>
                    </div>
                <%}%>
 
            </div>

           
        </main>

        <h2 class="descripcion">Descripcion: <%=publicacion.descripcion %></h2>

        <!-- <section>
        </section> -->
    </div>

    <%- include("./partials/footer") %>
</body>
</html>