<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <link rel="stylesheet" href="/css/posts.css">
    <title><%= title  %></title>
</head>
<body>
    <%- include("./partials/nav") %>
    <main>
        <div class="container">
                <div class="actions">
                    <a class="btn" href="/posts/add"> Publicar</a>
                    <p class="text-top"><strong><%= publicaciones.length  %></strong> <%= publicaciones.length == 1 ? "Publicación Activa" : "Publicaciones activas" %></p>
                    <p class="text-top"> <%= title == "Publicaciones" ? "General" : "Mías"%></p>
        
                </div>

            <div class="container-posts">

                <% if (publicaciones.length > 0) { %>
                    <% publicaciones.forEach(publicacion => { %>
                        <div class="card-post">
                            <a href="/posts/<%=publicacion.id %>" class="card-post-link">
                                <div class="image">
                                    <img src="/publicaciones/<%=publicacion.url_foto %>" alt="foto">
                                </div>
                                <div class="info">
                                    <div class="top">
                                        <p class="title"><%=publicacion.nombre %></p>
                                    </div>
                                    <%- title == "Publicaciones" ? null : `<p class="mid-state">Estado: ${publicacion.estado}</p>`  %>
                                    <div class="down">
                                        <p class="categoria"><%= publicacion.Categoria.nombre %></p>
                                    </div>
            
                                </div>
                            </a>
        
                        </div>

                    <% }) %>
                <% } else { %>
                    <p style="color: grey;" > Todavia no hay publicaciones</p>
                <% } %>

            </div>
        </div>
    </main>
    <%- include("./partials/footer") %>
</body>

<script src="/js/checkroute.js"></script>
</html>